body form  textarea {
            color:blue;
            background-color: lawngreen;

        }
#nume{
    padding:100px;
    border:20px;
    background-color: deepskyblue;
}
body {
    background-color: gray;
}