body form  textarea {
            color:blue;
            background-color: white

        }
#nume{
    padding:100px;
    border:20px;
    background-color: lightgreen
}
body {
    background-color: gray;
}